.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;

  & .link[href] {
    color: var(--normal);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }

  & .link[href]:hover {
    color: var(--strong);
    text-decoration: underline;
  }
}